
body {
  display: flex;
  flex-direction: column;
}

.grouping-pane{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button-pane {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.reusable-button {
  margin: .5%;
}

.users {
  display: flex;
  flex-direction: column;
}

.groups {
  display: flex;
  flex-direction: column;
}

.selected-group {
  background-color: turquoise;
}

.notice {
  text-align: center;
  padding: 1%;
}
