/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

.navbar {
    font-size: 18px;
    /* background-image: linear-gradient(to right, #77878B 15%, #C2D3CD   100%); */
    background-color: #9DAAA6;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.nav-show {
    list-style-type: none;
}

.nav-hidden {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
    text-align: center;
    margin: 15px auto;
}

.logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
}

.turing {
  margin-left: 1%;
  font-weight: bold;
}

.feedback {

}

.logo-image {
  width: 13.5%;
  padding: 1%;
}

.navbar-toggle {
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    margin-right: 2%;
}

@media screen and (min-width: 500px) {
  .navbar-toggle {
    display: none;
  }
  .nav-hidden {
    display: flex;
  }
  .navbar{
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links {
    padding: 10% 18% 10% 10%;
  }

  .links {
    display: flex;
    align-items: center;
  }

  .li {
    display: flex;
    padding: 0;
    align-items: center;
  }
}
